
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=glogscrobbler
Exec=glogscrobbler
Terminal=false
GenericName=A Last.fm Log Scrobbler
Comment=Upload .scrobbler.log files to Last.fm
Icon=gtk-go-up
MimeType=text/x-log;
Categories=Audio;AudioVideo;
