
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=GNOME Log Scrobbler
Exec=glogscrobbler
Terminal=false
GenericName=A Last.fm Log Scrobbler
Icon=gtk-go-up
Comment=Upload scrobbler logs to Last.fm
MimeType=text/log;
Categories=Audio;AudioVideo;
